body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calendarPage {
  padding: 0px 15px;
}

/* range page start */

.headCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monthSelectCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  width: 150px;
  height: 30px;
  box-shadow: 0px 0px 10px #afadad;
}

.selectBox {
  color: blue;
  border: 0;
  outline: 0;
}

.arrowCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  margin-bottom: 20px;
}

.arrowCardHide {
  display: none;
}

.arrowBox {
  border: 3px solid blue;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.rangeCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.rangeButton {
  background-color: white;
  border: 0;
  cursor: pointer;
}

.rangeButtonSelected {
  border-bottom: 5px solid blue;
}

/* range page end */

/* month page start */

.calendarCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  background-color: rgba(247, 244, 244, 0.3);
  overflow-y: auto;
}

.calendarRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.calendarCol {
  border: 1px solid rgb(236, 232, 232, 0.3);
  text-align: center;
  width: 100%;
  height: 80px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.calendarColWithEvent {
  cursor: pointer;
  font-size: 12px;
}

.monthEventCard {
  padding: 3px;
  background-color: #fff;
  border-left: 15px solid blue;
  border-radius: 5px;
  width: 80%;
  position: relative;
}

.monthColor {
  color: blue;
}

/* month page end */

/* week page start */

.weekView {
  width: 100%;
  background-color: rgba(247, 244, 244, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.timeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.eachTime {
  height: 60px;
  text-align: right;
  padding: 10px 5px;
}

.timeValue {
  margin-top: -20px;
  color: blue;
  font-weight: 600;
}

.weekEventCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headContent {
  padding: 10px;
}

.weekHead {
  text-align: center;
  height: 80px;
  width: 100%;
  border: 1px solid rgba(236, 232, 232, 0.3);
  border-top: none;
  border-bottom: none;
}

.weekHeadBorder {
  border: 1px solid rgba(236, 232, 232, 0.3);
  border-left: none;
  border-right: none;
}

.weekWithEvent {
  position: relative;
  height: 80px;
  background-color: #fff;
  border-left: 15px solid blue;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* week page end */

/* today page start */

.todayPage {
  background-color: rgba(247, 244, 244, 0.3);
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.eventCard {
  margin: 15px;
  width: 230px;
  padding: 3px;
  background-color: #fff;
  border-left: 15px solid blue;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px grey;
  font-weight: 500;
}

.eventCardLength {
  position: relative;
}

.totalCount {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 100%;
  padding: 3px 8px;
  background-color: rgb(227, 208, 4);
}

/* today page end */

/* popup page start */

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popupContent {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popupCloseButton {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  border: 0;
  border-radius: 100%;
  padding: 5px 10px;
  cursor: pointer;
}

.popupDetailCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: 2px solid grey;
}

.popupDetailText {
  border-right: 2px solid grey;
  font-weight: 500;
  text-align: left;
  padding: 10px;
}

.popupMeetCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.meetPic {
  width: 50%;
  margin: auto;
}

.linkButton {
  background-color: blue;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  width: 60px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

.eventCardPopup {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-left: 15px solid blue;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px grey;
  font-weight: 500;
}

/* popup page end */
@media screen and (min-width: 769px) and (max-width: 960px) {
  .popupContent {
    padding: 5px;
    width: 80%;
  }

  .popupDetailText {
    padding: 5px;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .rangeCard {
    width: 230px;
  }

  .calendarCol {
    font-size: 10px;
  }

  .popupContent {
    padding: 5px;
    width: 90%;
  }

  .popupDetailText {
    font-weight: 300;
    padding: 5px;
    width: 60%;
  }

  .popupMeetCard {
    width: 50%;
  }

  .weekView {
    font-size: 10px;
  }

  .headContent {
    padding: 10px 0px;
  }

  .weekWithEvent {
    border-left: 5px solid blue;
    font-size: 8px;
  }

  .todayPage {
    padding: 0px;
  }

  .monthEventCard {
    padding: 0px;
    border-left: 5px solid blue;
    width: 80%;
  }

  .calendarColWithEvent {
    font-size: 10px;
  }
}
